// ==|== primary styles =======================================================
// ============================================================================

// Foundation
// ----------------------------------------------------------------------------
html,
button,
input,
optgroup,
select,
textarea {
	font-family: 'Archer SSm A', 'Archer SSm B', Georgia, Times, 'Times New Roman', serif;
	color: $hsl_blue;
}
html {
	min-height: 100%;
}
body {
	position: relative;
	text-align: center;
	background-color: $hsl_L96;
	border-top: 0.6rem solid $hsl_blue;
}
::selection {
	color: $hsl_blue;
	background-color: $hsl_gold;
}
::-webkit-input-placeholder {
	color: $hsl_blue;
}
::-moz-placeholder {
	color: $hsl_blue;
	opacity: 1;
}
:-ms-input-placeholder {
	color: $hsl_blue;
}

// Transitions
// ----------------------------------------------------------------------------
a,
input,
button,
div.gallery_link {
	transition: all 0.3s ease-in-out;
}
svg {
	transition: fill 0.3s ease-in-out;
}
ul.menu_toggle li a::before {
	transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
div.wrap_menu {
	transition: height 0.6s ease-in-out;
}
[data-overlay],
div.wrap_menu div.menu_list {
	transition: opacity 0.6s ease-in-out;
}
div.loader_overlay,
aside[data-modal="gallery"] img {
	transition: opacity 0.4s ease-in-out;
}
div.dropdown_toggle {
	transition: background-color 0.3s ease-in-out;
}
div.wrap_dropdown {
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
// --- Animations --- \\
@keyframes animShow {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes animHide {
	0%   { opacity: 1; left: 0; }
	99%  { opacity: 0; left: 0; }
	100% { opacity: 0; left: -200%; }
}
@keyframes anim360 {
	to {
		transform: rotate(360deg);
	}
}
// --- FOUT --- \\
html:not(.ie9) header {
	opacity: 0; // begin by setting opacity to 0
	animation: animShow 0.6s ease-in-out 0.2s forwards;
}

// CSS Loader
// ----------------------------------------------------------------------------
div.loader_overlay {
	position: fixed;
	z-index: 910;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	// visibility: hidden; // webkit will stop the animation if visibility is changed
	overflow: hidden;
	pointer-events: none;
}
div.loader_overlay.visible {
	opacity: 1;
}
div.loader_overlay div.wrap_svg {
	position: absolute;
	z-index: 911;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 4.4rem;
	height: 4.4rem;
	animation: anim360 1s linear infinite forwards;
}
div.loader_overlay div.wrap_svg svg {
	fill: $hsl_blue;
}

// Forms
// ----------------------------------------------------------------------------
input[type="text"] {
	cursor: pointer;
	padding: 0 4rem 0 1.6rem;
	width: 100%;
	height: 4.8rem;
	font-size: 1.6rem;
	color: $hsl_blue;
	background-color: $hsl_L96;
	box-shadow: inset 0 0 0 0.1rem $hsl_blue;
}
input[type="text"]:hover {
	background-color: $hsl_white;
}
input[type="text"]:active {
	background-color: hsla(0,0%,98%,1);
}
// --- Input Wraps --- \\
div.wrap_inputs {
	position: relative;
	z-index: 101;
}
div.wrap_date,
div.wrap_select {
	position: relative;
	z-index: 100;
}
div.wrap_date,
div.wrap_inputs {
	margin-bottom: 3.2rem;
}
div.wrap_svg.input_svg {
	pointer-events: none;
	position: absolute;
	top: 1.6rem;
	right: 1.6rem;
	width: 1.6rem;
	height: 1.6rem;
	transform: rotate(90deg);
}
div.wrap_svg.input_svg svg {
	fill: $hsl_blue;
}
// --- Select Dropdown --- \\
div.wrap_select div.dropdown_toggle {
	cursor: pointer;
	position: relative;
	z-index: 102;
	height: 4.8rem;
	background-color: $hsl_L96;
	box-shadow: inset 0 0 0 0.1rem $hsl_blue;
}
div.wrap_select div.dropdown_toggle span {
	display: block;
	user-select: none;
	padding-left: 1.6rem;
	padding-right: 4.8rem;
	font-size: 1.6rem;
	text-align: left;
	line-height: 4.8rem;
	color: $hsl_blue;
	white-space: nowrap;
}
// + dropdown list + \\
div.wrap_select div.wrap_dropdown,
div.wrap_select div.wrap_dropdown ul,
div.wrap_select div.wrap_dropdown.scrollable,
div.wrap_select div.wrap_dropdown span.fix_ios-scroll {
	background-color: $hsl_white; // be sure there is no chance ios rubber band will show a difference background
}
div.wrap_select div.wrap_dropdown {
	position: absolute;
	z-index: 101;
	top: 0;
	width: 100%;
	box-shadow: $boxshadow_drop;
	overflow: hidden;
}
div.wrap_select div.wrap_dropdown ul {
	padding-top: 4.8rem;
}
div.wrap_select div.wrap_dropdown ul li a {
	display: block;
	padding: 1.6rem;
	font-size: 1.6rem;
	color: $hsl_blue;
}
div.wrap_select div.wrap_dropdown ul li.selected a {
	pointer-events: none;
	color: $hsl_gold;
}
// + dropdown scrollable + \\
div.wrap_select div.wrap_dropdown.scrollable {
	height: 28.8rem; // dropdown_label height (48px) x 6
}
div.wrap_select div.wrap_dropdown span.fix_ios-scroll { // required only get to iOS to behave
	display: block;
	position: absolute;
	top: 4.8rem;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
div.wrap_select div.wrap_dropdown span.fix_ios-scroll ul {
	padding-top: 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
// + chrome scrollbar + \\
div.wrap_select div.wrap_dropdown span.fix_ios-scroll ul::-webkit-scrollbar {
	width: 0.4rem;
	background-color: hsla(0,0%,0%,1);
}
div.wrap_select div.wrap_dropdown span.fix_ios-scroll ul::-webkit-scrollbar-track {
	background-color: $hsl_gold;
}
div.wrap_select div.wrap_dropdown span.fix_ios-scroll ul::-webkit-scrollbar-thumb {
	background-color: $hsl_blue;
}
// + interaction + \\
div.wrap_select:hover div.dropdown_toggle {
	background-color: $hsl_white;
}
div.wrap_select:active div.dropdown_toggle {
	background-color: hsla(0,0%,98%,1);
}
div.wrap_select div.wrap_dropdown ul li a:hover {
	background-color: hsla(0,0%,98%,1);
}
div.wrap_select div.wrap_dropdown ul li a:active {
	background-color: $hsl_white;
}
// + hide / show dropdown + \\
div.wrap_select div.wrap_dropdown {
	opacity: 0;
	visibility: hidden;
}
div.wrap_select.toggle_show {
	z-index: 200;
}
div.wrap_select.toggle_show div.wrap_dropdown {
	opacity: 1;
	visibility: visible;
}
div.wrap_select.toggle_show div.dropdown_toggle {
}

// General Styles
// ----------------------------------------------------------------------------
// --- Containers --- \\
[data-container] {
	margin-left: auto;
	margin-right: auto;
}
[data-container="width_1200"] {
	max-width: 120rem;
}
[data-container="width_848"] {
	max-width: 84.8rem;
}
[data-container="width_768"] {
	max-width: 76.8rem;
}
[data-container="width_720"] {
	max-width: 72rem;
}
[data-container="width_680"] {
	max-width: 68rem;
}
[data-container="width_660"] {
	max-width: 66rem;
}
[data-container="width_620"] {
	max-width: 62rem;
}
// --- SVGs --- \\
.wrap_svg {
	display: block;
}
.wrap_svg svg {
	width: 100%;
	height: 100%;
}
svg.svg_inline {
	display: inline; // [viewBox] attribute selector does not work in webkit
}
// --- Links --- \\
a {
	color: $hsl_blue;
}
a:hover {
	color: $hsl_gold;
}
a:active {
	color: darken($hsl_gold, 17%);
}
// + buttons + \\
.button {
	display: inline-block;
	margin: 0 auto;
	padding: 2.2rem 2.6rem; // computed height is 65px
	font-size: 1.5rem;
	letter-spacing: 0.2rem;
	text-align: center;
	text-transform: uppercase;
	border: 0.1rem solid $hsl_blue;
}
.button:hover {
	color: $hsl_gold;
	border-color: $hsl_gold;
}
.button:active {
	color: darken($hsl_gold, 17%);
	border-color: darken($hsl_gold, 17%);
}
// --- Overlay & Modal --- \\
// created and added (also destroyed) to DOM via JS
// opacity applied via JS | transition via CSS
[data-overlay] {
	position: fixed;
	z-index: 900;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $hsla_L96-98;
	overflow: hidden;
}
[data-modal],
[data-opentable] { // if styled the same way as [data-overlay], webkit will not treat positioning / height the same way
	position: fixed;
	z-index: 901;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
// + overlay active + \\
html.overlay_active,
html.overlay_active body {
	overflow-y: hidden;
}
// --- Gallery Modal --- \\
aside[data-modal="gallery"] {
	padding-top: 6.4rem;
}
aside[data-modal="gallery"] img {
	margin: 0 auto;
	opacity: 0; // hide by default
}
aside[data-modal="gallery"].img_loaded img {
	opacity: 1;
}
// + gallery navigation + \\
nav.nav_gallery {
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	left: 0;
	height: 6.4rem;
	text-align: center;
	background-color: $hsla_L96-98;
}
nav.nav_gallery div[data-container] {
	position: relative;
}
nav.nav_gallery div[data-container] a.wrap_svg {
	position: absolute;
	top: 0;
	padding: 1.6rem;
	width: 6.4rem; // actual width of svg: 3.2rem
	height: 6.4rem; // actual height of svg: 3.2rem
}
nav.nav_gallery div[data-container] a.wrap_svg.nav_prev {
	left: 0;
	transform: rotate(180deg);
}
nav.nav_gallery div[data-container] a.wrap_svg.nav_next {
	right: 0;
}
nav.nav_gallery div[data-container] a.nav_close {
	left: 50%;
	margin-left: -3.2rem;
}
nav.nav_gallery div[data-container] a.wrap_svg svg {
	fill: $hsl_blue;
}
nav.nav_gallery div[data-container] a.wrap_svg:hover svg {
	fill: $hsl_gold;
}
nav.nav_gallery div[data-container] a.wrap_svg:active svg {
	fill: darken($hsl_gold, 17%);
}


// ==|== common sections ======================================================
// ============================================================================

// Header
// ----------------------------------------------------------------------------
header {
	position: relative;
	z-index: 200;
	padding: 6rem 1.6rem 10rem 1.6rem;
}
div.nn_logo {
	margin: 0 auto 4rem auto;
	max-width: 12rem;
}
header div.wrap_rule,
div.nn_wordmark {
	margin-left: auto;
	margin-right: auto;
}
header div.wrap_rule {
	margin-bottom: 6rem;
}
h2.tagline {
	display: inline-block;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 1.8rem;
	color: $hsl_gold;
	background-color: $hsl_L96;
}
div.nn_wordmark {
	margin-bottom: 6rem;
}
div.nn_logo svg,
div.nn_wordmark svg {
	fill: $hsl_blue;
}
h3.address {
	margin-bottom: 1.6rem;
	font-family: FFMarkWebPro, Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 2.2rem;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
}
a.phone {
	display: inline-block;
	margin-bottom: 3.2rem;
	font-size: 1.4rem;
	letter-spacing: 0.2rem;
}
// --- Social Links --- \\
ul.social_links li {
	display: inline-block;
}
ul.social_links li a.wrap_svg {
	display: inline-block;
	height: 2.8rem;
}
ul.social_links li a.wrap_svg svg {
	fill: $hsl_blue;
}
ul.social_links li.social_twitter {
	margin-right: 0.8rem;
}
ul.social_links li.social_facebook {
	margin-right: 1.2rem;
}
ul.social_links li.social_twitter a.wrap_svg {
	width: 3.9rem; // webkit requires an explicit width
}
ul.social_links li.social_facebook a.wrap_svg {
	width: 4.4rem; // webkit requires an explicit width
}
ul.social_links li.social_instagram a.wrap_svg {
	width: 2.8rem; // webkit requires an explicit width
}
ul.social_links li a.wrap_svg:hover svg {
	fill: $hsl_gold;
}
ul.social_links li a.wrap_svg:active svg {
	fill: darken($hsl_gold, 17%);
}
// --- Main Navigation --- \\
nav.nav_main {
	display: none;
	position: fixed;
	z-index: 201;
	top: 0;
	left: 0;
	right: 0;
}
nav.nav_main div.wrap_nav {
	// required since nav is fixed, needed for scrollbar to be visible beneath background-color
	padding: 3.2rem 0;
	background-color: $hsla_L96-98;
	border-top: 0.6rem solid $hsl_blue;
}
nav.nav_main a.nav_logo {
	position: absolute;
	top: 1.4rem;
	left: 3.2rem;
	width: 6.4rem;
	height: 5.2rem;
	opacity: 0;
	visibility: hidden;
}
nav.nav_main a.nav_logo svg {
	fill: $hsl_blue;
}
nav.nav_main a.nav_logo:hover svg {
	fill: $hsl_gold;
}
nav.nav_main a.nav_logo:active svg {
	fill: darken($hsl_gold, 17%);
}
nav.nav_main.scrolled a.nav_logo {
	opacity: 1;
	visibility: visible;
}
// + navigation list + \\
nav.nav_main ul li {
	display: inline-block;
	margin-right: 2rem;
}
nav.nav_main ul li:last-child {
	margin-right: 0;
}
nav.nav_main ul li a {
	padding: 1rem;
	font-size: 1.6rem;
}
nav.nav_main[data-current="reserve"] a[href="#reserve"],
nav.nav_main[data-current="foodwine"] a[href="#foodwine"],
nav.nav_main[data-current="bacaro"] a[href="#bacaro"],
nav.nav_main[data-current="private"] a[href="#private"],
nav.nav_main[data-current="photos"] a[href="#photos"] {
	color: $hsl_gold;
}

// Footer
// ----------------------------------------------------------------------------
footer {
	padding-top: 14rem;
	padding-bottom: 10rem;
	text-align: center;
}
p.copyright {
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
}
// --- Footer Contact --- \\
ul.footer_contact {
	margin-bottom: 6rem;
}
ul.footer_contact li {
	margin-bottom: 1.4rem;
	font-size: 1.3rem;
	letter-spacing: 0.1rem;
}
ul.footer_contact li:last-child {
	margin-bottom: 0;
}
ul.footer_contact li.contact_title {
	font-family: FFMarkWebPro, Futura, 'Trebuchet MS', Arial, sans-serif;
	font-weight: 400;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}
// --- Footer Pride --- \\
ul.footer_pride {
	margin-bottom: 6rem;
}
ul.footer_pride li {
	display: inline-block;
	font-family: FFMarkWebPro, Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 1.1rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	vertical-align: middle;
}
ul.footer_pride li svg {
	width: 2rem;
	height: 2rem;
	fill: $hsl_gold;
}
ul.footer_pride li.pride_cross {
	margin: 0 2rem;
}


// ==|== page styles ==========================================================
// ============================================================================

// Sections
// ----------------------------------------------------------------------------
section.reserve,
section.foodwine,
section.private,
section.gift,
article.intro,
article.lunchdinner {
	margin-bottom: 10rem;
}
section.reserve,
section.foodwine,
section.bacaro,
section.gift,
section.photos {
	padding-left: 1.6rem;
	padding-right: 1.6rem;
}
// --- Content --- \\
div.wrap_content p,
div.wrap_content cite {
	margin-bottom: 2rem;
	font-size: 1.4rem;
	line-height: 1.5;
}
div.wrap_content blockquote p,
div.wrap_content p:last-child {
	margin-bottom: 0;
}
div.wrap_content p a {
	text-decoration: underline;
	white-space: nowrap;
}
div.wrap_content p a[href^="tel:"] {
	text-decoration: none;
}
div.wrap_content cite {
	font-style: normal;
}
// + headings + \\
article h3,
article h4,
article h5 {
	font-family: FFMarkWebPro, Futura, 'Trebuchet MS', Arial, sans-serif;
	font-weight: 400;
	line-height: 1.3;
	text-transform: uppercase;
}
article h3 {
	font-size: 2.4rem;
	letter-spacing: 0.4rem;
}
article h4 {
	font-size: 1.8rem;
	letter-spacing: 0.5rem;
}
article h5 {
	margin-bottom: 3.2rem;
	font-size: 1.6rem;
	letter-spacing: 0.4rem;
}
// --- Wrap Heading --- \\
div.wrap_heading {
	position: relative;
	margin-bottom: 6rem;
}
div.wrap_heading h3 {
	position: absolute;
	left: 0;
	right: 0;
}
div.wrap_heading h3 span.letter_2 {
	margin-right: 4.8rem;
}
div.wrap_heading img {
	margin: 0 auto;
	width: 8rem;
}
// --- Wrap Rule --- \\
div.wrap_rule {
	position: relative;
}
div.wrap_rule::before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	top: 48%;
	right: 0;
	left: 0;
	height: 0.1rem;
	background-color: $hsl_gold;
}
// --- Divider --- \\
div.divider {
	margin: 8rem auto 0 auto;
	width: 2.6rem;
	height: 2.6rem;
}
div.divider svg {
	fill: $hsl_gold;
}
// --- Tag: Circle --- \\
.tag_circle {
	display: inline-block;
	margin-bottom: 5.2rem;
	color: $hsl_gold;
	border: 0.1rem solid $hsl_gold;
	overflow: hidden;
}
.tag_circle .tag_text {
	display: inline-block;
	padding: 1.4rem 2.2rem;
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
	line-height: 1.4;
	text-transform: uppercase;
	vertical-align: middle;
}
.tag_circle .tag_text br {
	display: none;
}

// Reserve
// ----------------------------------------------------------------------------
section.reserve article div.wrap_content {
	margin-bottom: 4.8rem;
}
section.reserve article div.wrap_content h6 {
	font-family: FFMarkWebPro, Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	line-height: 1.6;
	text-transform: uppercase;
	color: $hsl_gold;
}
section.reserve article div.wrap_content h6 span {
	display: block;
}
section.reserve article div.wrap_content h6.time_lunch {
	margin-bottom: 2rem;
}
section.reserve article div.wrap_content h6.time_dinner {
	margin-bottom: 8rem;
}
section.reserve article div.wrap_content p:first-of-type a[target] {
	text-decoration: none;
}
// --- Reservation Form --- \\
[data-opentable] {
	// shares styles with [data-modal]
	background-color: hsla(0,0%,0%,0.6);
	visibility: hidden; // requires visibility in order to hide animation on initial page load... set to 'visible' via JS class 'ready'
}
html.ie9 [data-opentable] {
	display: none;
}
html.ready [data-opentable] {
	visibility: visible;
}
[data-opentable="active"] {
	left: 0;
	animation: animShow 0.6s ease-in-out;
}
[data-opentable="inactive"] {
	left: -200%;
	animation: animHide 0.6s ease-in-out forwards;
}
// + form: reserve + \\
form.form_reserve {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	padding: 2.6rem 1.6rem;
	width: 30rem;
	height: 27.8rem;
	background-color: $hsl_L96;
}
form.form_reserve div.wrap_inputs div.wrap_select {
	float: left;
}
form.form_reserve div.wrap_select-size {
	width: 10.4rem;
	margin-right: 2.8rem;
}
form.form_reserve div.wrap_select-time {
	width: 13.6rem;
}
form.form_reserve button.button {
	width: 100%;
}
// --- Enroute --- \\
div.wrap_enroute {
	margin-top: 6rem;
	padding: 1.6rem;
	background: repeating-linear-gradient(-45deg, $hsl_red, $hsl_red 1.6rem, $hsl_L96 1.6rem, $hsl_L96 3.2rem);
}
div.enroute {
	padding: 3.2rem 1.6rem;
	background-color: $hsl_L96;
	border: 0.1rem solid $hsl_red;
}
div.logo_aircanada {
	margin: 0 auto 3.2rem auto;
	width: 4.4rem;
}
div.logo_aircanada svg {
	fill: $hsl_aircan;
}
div.enroute p {
	margin-bottom: 3.2rem;
	font-size: 1.4rem;
	line-height: 1.3;
	color: $hsl_red;
}
div.enroute p a {
	text-decoration: underline;
	color: $hsl_red;
}
div.enroute a.button {
	width: 100%;
	max-width: 22.4rem;
	font-style: italic;
	color: $hsl_red;
	border-color: $hsl_red;
}
// + interaction + \\
div.enroute p a:hover {
	color: $hsl_blue;
}
div.enroute a.button:hover {
	color: $hsl_blue;
	border-color: $hsl_blue;
}
div.enroute p a:active {
	color: darken($hsl_blue, 10%);
}
div.enroute a.button:active {
	color: darken($hsl_blue, 10%);
	border-color: darken($hsl_blue, 10%);
}

// Food & Wine
// ----------------------------------------------------------------------------
// --- Intro --- \\
article.intro div.wrap_heading h3 {
	top: 44%;
	margin-left: 1.4rem;
}
// --- Lunch & Dinner --- \\
div.wrap_menu {
	position: relative;
	overflow: hidden;
}
div.wrap_menu div.menu_list {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
}
div.wrap_menu div.menu_list.toggled {
	z-index: 10;
	opacity: 1;
}
div.wrap_menu div.menu_list h6 {
	margin-bottom: 2.6rem;
	font-size: 1.4rem;
	font-style: italic;
}
div.wrap_menu div.menu_list h6.menu_subhead {
	margin-bottom: 4rem;
}
// + menu toggle + \\
ul.menu_toggle {
	margin-bottom: 4rem;
}
ul.menu_toggle li {
	display: inline-block;
	position: relative;
}
ul.menu_toggle li.menu_lunch {
	margin-right: 8rem;
}
ul.menu_toggle li.menu_lunch::after {
	content: "/";
	display: block;
	position: absolute;
	top: 0.1rem;
	right: -4.4rem;
	font-family: FFMarkWebPro, Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
	color: $hsl_gold;
}
ul.menu_toggle li a {
	display: block;
	position: relative;
}
ul.menu_toggle li a::before {
	content: "";
	display: block;
	position: absolute;
	bottom: -0.1rem;
	left: -0.2rem;
	right: 0.2rem;
	margin: 0 auto;
	width: 0%;
	height: 0.1rem;
	background-color: $hsl_gold;
	opacity: 0;
}
ul.menu_toggle li a.toggled {
	pointer-events: none;
	color: $hsl_gold;
}
ul.menu_toggle li a.toggled::before {
	width: 100%;
	opacity: 1;
}
// + menu list + \\
div.menu_list ul {
	margin-bottom: 8rem;
}
div.menu_list ul:last-child {
	margin-bottom: 0;
}
div.menu_list ul li {
	margin-bottom: 1.6rem;
	font-size: 1.4rem;
	line-height: 1.2;
}
div.menu_list ul li:last-child {
	margin-bottom: 0;
}
div.menu_list ul li span {
	display: block;
}
div.menu_list ul li span.menu_item {
	margin-bottom: 0.6rem;
}
// --- Wine --- \\
article.wine div.wrap_heading h3 {
	top: 58%;
}
a.tag_circle.wine_full {
	color: $hsl_pink;
	border-color: $hsl_pink;
}
a.tag_circle.wine_full:hover {
	color: $hsl_blue;
	border-color: $hsl_blue;
}
a.tag_circle.wine_full:active {
	color: darken($hsl_blue, 12%);
	border-color: darken($hsl_blue, 12%);
}
// + temporary + \\
p.wines {
	margin: 0 auto 6rem auto;
	max-width: 39rem;
	font-size: 1.6rem;
	line-height: 1.5;
}

// Bacaro
// ----------------------------------------------------------------------------
section.bacaro {
	padding-top: 8rem;
	padding-bottom: 8rem;
	background-color: $hsl_blue;
	background-image: url('../img/bg_bacaro.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
article.message img {
	margin: 0 auto 7.2rem auto;
}
article.message h5 {
	margin-bottom: 6rem;
}
article.message h5,
article.message p {
	color: $hsl_L96;
}

// Private Dining
// ----------------------------------------------------------------------------
section.private {
	padding-top: 16rem;
}
div.sea-monster_top,
div.sea-monster_btm {
	position: relative;
}
img.octo-top {
	position: absolute;
	top: -9.8rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 30rem;
}
img.octo-btm {
	margin: 0 auto;
	width: 12.9rem;
}
span.divider_double {
	display: block;
	height: 2.6rem;
	border-top: 0.1rem solid $hsl_gold;
	border-bottom: 0.1rem solid $hsl_gold;
}
// + dining content + \\
article.dining {
	padding-top: 4rem;
	padding-bottom: 6rem;
}
article.dining div.wrap_content {
	padding: 0 1.6rem;
}
article.dining div.wrap_content ul {
	margin: 0 auto 3.2rem auto;
	padding: 3.2rem 1.6rem;
	max-width: 51.6rem;
	border: 0.1rem solid $hsl_blue;
}
article.dining div.wrap_content ul li {
	margin-bottom: 1rem;
	font-size: 1.3rem;
	line-height: 1.2;
	text-transform: uppercase;
}
article.dining div.wrap_content ul li:last-child {
	margin-bottom: 0;
}
article.dining a.button {
	margin-bottom: 3.2rem;
}
article.dining div.wrap_content p:last-child {
	font-size: 1.3rem;
}

// Gift Certificates
// ----------------------------------------------------------------------------
article.certificates,
article.certificates div.wrap_content {
	border: 0.1rem solid $hsl_gold;
}
article.certificates {
	padding: 1.6rem;
}
article.certificates div.wrap_content {
	padding: 3.2rem 1.6rem;
	border: 0.1rem solid $hsl_gold;
}
svg.ui_heart {
	margin: 0 auto 3.2rem auto;
	width: 5.2rem;
	height: 8.8rem;
	fill: $hsl_blue;
}

// Photos
// ----------------------------------------------------------------------------
section.photos div.wrap_rule {
	margin-bottom: 4.8rem;
}
section.photos div.wrap_rule::before {
	background-color: $hsl_blue;
}
section.photos div.wrap_svg {
	display: inline-block;
	padding: 0 1.4rem;
	background-color: $hsl_L96;
}
svg.ui_eye {
	width: 4.6rem;
	height: 2.8rem;
	fill: $hsl_blue;
}
// --- Packery --- \\
article.packery div.gutter-sizer {
	width: 5.555556%;
	height: 1.6rem;
}
article.packery .gallery_link {
	width: 47.222222%;
	opacity: 0.01;
}
article.packery a.gallery_link {
	display: block;
}
article.packery .gallery_link.loaded {
	opacity: 1;
}
article.packery a.gallery_link:hover {
	opacity: 0.86;
}
article.packery a.gallery_link:active {
	opacity: 0.96;
}

// Error 404
// ----------------------------------------------------------------------------
body.error_404 {
	height: 100%;
	border-top: none;
	background-color: $hsl_blue;
	background-image: url('../img/bg_bacaro.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
body.error_404 main {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100vh;
}
section.error {
	display: table-cell;
	vertical-align: middle;
	padding-left: 1.6rem;
	padding-right: 1.6rem;
}
article.oops h1,
article.oops p {
	color: $hsl_L96;
}
article.oops h1 {
	margin-bottom: 1em;
	font-family: FFMarkWebPro, Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 3.6rem;
	font-weight: 400;
	letter-spacing: 0.6rem;
	text-transform: uppercase;
}
article.oops p {
	margin-bottom: 8rem;
	font-size: 1.6rem;
}
article.oops a {
	color: $hsl_gold;
}
article.oops a:hover {
	color: $hsl_L96;
}
article.oops a:active {
	color: $hsl_L96;
	opacity: 0.8;
}
article.oops a.button {
	border-color: $hsl_gold;
}
article.oops a.button:hover,
article.oops a.button:active {
	border-color: $hsl_L96;
}