// ==|== primary styles =======================================================
// ============================================================================

// Foundation
// ----------------------------------------------------------------------------
html,
button,
input,
optgroup,
select,
textarea {
	font-family: 'Slabo 13px', Georgia, Times, "Times New Roman", serif;
	// font-family: FFMarkWebPro, Futura, 'Trebuchet MS', Arial, sans-serif;
	// font-variant-numeric: oldstyle-nums;
	color: $hsla_blue;
}
body {
	position: relative;
	text-align: center;
	background: $hsla_L96;
	border-top: 0.6rem solid $hsla_blue;
}
::selection {
	color: $hsla_blue;
	background-color: $hsla_gold;
}

/*
// + autoprefixer does not recognize placeholder + \\
::-webkit-input-placeholder {
	color: #000;
}
::-moz-placeholder {
	color: #000;
	opacity: 1;
}
:-ms-input-placeholder {
	color: #000;
}
*/


// Transitions
// ----------------------------------------------------------------------------
a,
input,
button {
	transition: all 0.3s ease-in-out;
	// backface-visibility: hidden;
}
svg {
	transition: fill 0.3s ease-in-out;
}


nav.nav_primary {
	transition: max-height 0.4s ease-in-out;
}
a.nav_toggle div.wrap_menu span {
	transition: top 0.4s ease-in-out, opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

[data-overlay] {
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

// --- Animations --- \\
@keyframes animShow {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes animHide {
	0%   { opacity: 1; left: 0; }
	99%  { opacity: 0; left: 0; }
	100% { opacity: 0; left: -200%; }
}
[data-modal="active"] {
	left: 0;
	animation: animShow 0.4s ease-in-out;
}
[data-modal="inactive"] {
	left: -200%;
	animation: animHide 0.4s ease-in-out forwards;
}

/*
// --- FOUT --- \\
main,
header,
footer {
	opacity: 0; // begin by setting opacity to 0
}
.wf-active main,
.wf-active header,
.wf-active footer {
	// IE9 does not support Animations... we will need to use modernizr to force opacity: 1;
	// test this thoroughly to make sure it actually works consistently
	animation: animShow 0.4s ease-in-out forwards;
}
*/

// General Styles
// ----------------------------------------------------------------------------
.wrap_element {
	position: relative;
}
// + SVGs + \\
#svgInject {
	display: none;
	visibility: hidden;
}
.wrap_svg {
	display: block;
}
.wrap_svg svg {
	width: 100%;
	height: 100%;
}
.wrap_svg svg[viewBox] {
	display: inline;
}


// + links + \\
a {
	color: $hsla_blue;
}
a:hover {
	color: $hsla_gold;
}
a:active {
	color: $hsla_gold-D;
}

// --- Containers --- \\
[data-container] {
	margin-left: auto;
	margin-right: auto;
}
[data-container="width-padding_1440"] {
	max-width: 150.4rem; // 1440px + padding (64px)
}
[data-container="width_848"] {
	max-width: 84.8rem;
}

// --- Modals --- \\
[data-modal] {
	position: fixed;
	z-index: 999;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	visibility: hidden; // requires visibility in order to hide animation on initial page load... set to 'visible' via JS class 'loaded'
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
[data-modal] div.modal_body {
	overflow: hidden;
}

// --- Overlays --- \\
// created and added (also destroyed) to DOM via JS
// opacity and visibility applied via JS
// transition applied through CSS
[data-overlay] {
	position: fixed;
	z-index: 998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: hsla(0,0%,0%,0.6);
}
// --- Overlay Active --- \\
html.overlay_active,
html.overlay_active body {
	overflow-y: hidden;
}
[data-modal].loaded,
[data-overlay].loaded {
	visibility: visible;
}


// Buttons
// ----------------------------------------------------------------------------
.button {
	display: inline-block;
	margin: 0 auto;
	padding: 2.2rem 2.6rem; // computed height is 65px
	font-size: 1.5rem;
	letter-spacing: 0.2rem;
	text-align: center;
	text-transform: uppercase;
	border: 0.1rem solid $hsla_blue;
}
.button:hover {
	// color: $hsla_gold;
	border-color: $hsla_gold;
}
.button:active {
	// color: $hsla_gold-D;
	border-color: $hsla_gold-D;
}


// ==|== common sections ======================================================
// ============================================================================

// Header
// ----------------------------------------------------------------------------
header {
	padding: 6rem 1.6rem;
}
header div[data-container] {
}


svg.svg_nn-logo {
	margin: 0 auto 4rem auto;
	width: 12rem;
	height: 9.8rem;
	fill: $hsla_blue;
}
div.wrap_rule {
	position: relative;
	margin-bottom: 6rem;
}
div.wrap_rule::before {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	top: 49%;
	right: 0;
	left: 0;
	height: 0.1rem;
	background-color: $hsla_gold;
}
h2.tagline {
	display: inline-block;
	padding: 0 1.4rem;
	font-size: 1.8rem; // 2.2rem;
	color: $hsla_gold;
	background-color: $hsla_L96;
}
div.wordmark.wrap_svg {
	margin-bottom: 6rem;
}
svg.svg_nn-wordmark {
	// display: inline;
	fill: $hsla_blue;
}



h3.address {
	margin-bottom: 2rem;
	font-family: FFMarkWebPro, Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 2.2rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}
a.phone {
	display: inline-block;
	margin-bottom: 3.2rem;
	font-size: 1.4rem;
	letter-spacing: 0.2rem;
}

ul.social_links {
}
ul.social_links li {
	display: inline-block;
}
ul.social_links li a.wrap_svg {
	display: inline-block;
	height: 2.8rem;
}
ul.social_links li a.wrap_svg svg {
	display: inline; // webkit does not respect [viewBox] selector
	fill: $hsla_blue;
}
ul.social_links li.social_twitter {
	margin-right: 1rem;
}
ul.social_links li.social_twitter a.wrap_svg {
	width: 3.9rem; // webkit requires an explicit width
}
ul.social_links li.social_instagram a.wrap_svg {
	width: 2.8rem; // webkit requires an explicit width
}

ul.social_links li a.wrap_svg:hover svg {
	fill: $hsla_gold;
}
ul.social_links li a.wrap_svg:active svg {
	fill: $hsla_gold-D;
}

/*
		%h1.visuallyhidden North and Navy
		.wordmark.wrap_svg
			%svg.svg_nn-wordmark
				%use{"xlink:href" => "#nn_wordmark"}

		%h3.address 226 Nepean St.
		%a{:href => "tel:+1-613-232-6289", :title => "Call us"} (613) 232-6289

		%ul.social_links
			%li.social_twitter
				%a.wrap_svg{:href => "#", :title => "Follow us on Twitter"}
					%svg.svg_ui-twitter
						%use{"xlink:href" => "#ui_twitter"}
			%li.social_instagram
				%a.wrap_svg{:href => "#", :title => "Follow us on Instagram"}
					%svg.svg_ui-instagram
						%use{"xlink:href" => "#ui_instagram"}
*/

/*
// --- Nav Toggle --- \\
a.nav_toggle {
	display: block;
	position: absolute;
	z-index: 100;
	top: 2rem;
	right: 1.6rem;
	width: 4rem;
	height: 4rem;
}
a.nav_toggle div.wrap_menu {
	position: relative;
	top: 0.9rem;
	left: 0.4rem;
	width: 3.2rem;
	height: 2.2rem;
}
a.nav_toggle div.wrap_menu span {
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 0.3rem;
	background-color: #fff;
}
a.nav_toggle div.wrap_menu span.one {
	top: 0;
}
a.nav_toggle div.wrap_menu span.two {
	top: 0.9rem;
}
a.nav_toggle div.wrap_menu span.three {
	top: 1.8rem;
}
*/

nav {
	display: none;
}

/*
// --- Navigation --- \\
nav.nav_primary {
	max-height: 0;
	text-align: center;
	background-color: #fff;
	overflow-y: hidden;
}
nav.nav_primary ul {
	padding: 3.2rem 1.6rem;
}
nav.nav_primary ul li {
	margin-bottom: 2.6rem;
}
nav.nav_primary ul li:last-child {
	margin-bottom: 0;
}
nav.nav_primary ul li a {
	font-size: 1.8rem;
	color: #000;
}
nav.nav_primary ul li a:hover {
	color: hsla(0,0%,20%,1);
}
nav.nav_primary ul li a:active {
	color: hsla(0,0%,40%,1);
}
// + social links + \\
nav.nav_primary div.social_links {
	padding-bottom: 3.2rem;
	text-align: center;
}
nav.nav_primary div.social_links a {
	display: inline-block;
	width: 2.8rem;
	height: 2.8rem;
}
nav.nav_primary div.social_links a.social_twitter {
	margin-right: 4rem;
}
nav.nav_primary div.social_links a svg {
	fill: #000;
}
nav.nav_primary div.social_links a:hover svg {
	fill: hsla(0,0%,20%,1);
}
nav.nav_primary div.social_links a:active svg {
	fill: hsla(0,0%,40%,1);
}
// --- Toggled: Mobile Nav --- \\
body.toggled_mobile-nav nav.nav_primary {
	max-height: 32rem;
}
body.toggled_mobile-nav a.nav_toggle div.wrap_menu span.one {
	top: 0.9rem;
	transform: rotate(-45deg);
}
body.toggled_mobile-nav a.nav_toggle div.wrap_menu span.two {
	opacity: 0;
	transform: scale(0.2);
}
body.toggled_mobile-nav a.nav_toggle div.wrap_menu span.three {
	top: 0.9rem;
	transform: rotate(45deg);
}
*/


// Footer
// ----------------------------------------------------------------------------
footer {
	padding-bottom: 8rem;
	text-align: center;
}
p.copyright {
	font-size: 1.1rem;
	letter-spacing: 0.1rem;
}
// --- Footer Contact --- \\
ul.footer_contact {
	margin-bottom: 6rem;
}
ul.footer_contact li {
	margin-bottom: 1.4rem;
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
}
ul.footer_contact li:last-child {
	margin-bottom: 0;
}
ul.footer_contact li.contact_title {
	font-family: FFMarkWebPro, Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 1.3rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}
// --- Footer Pride --- \\
ul.footer_pride {
	margin-bottom: 6rem;
}
ul.footer_pride li {
	display: inline-block;
	font-family: FFMarkWebPro, Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 1.1rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	vertical-align: middle;
}
ul.footer_pride li svg {
	width: 2rem;
	height: 2rem;
	fill: $hsla_gold;
}
ul.footer_pride li.pride_cross {
	margin: 0 2rem;
}


// ==|== page styles ==========================================================
// ============================================================================

// Sections
// ----------------------------------------------------------------------------
main {
}
section,
section article {
	margin-bottom: 6rem;
}
section:last-child,
section article:last-child {
	margin-bottom: 0;
}

section.bacaro {
	margin-bottom: 0;
}

section.reserve,
section.foodwine,
section.bacaro {
	padding: 0 1.6rem;
}



// --- Content --- \\
article h3,
article h4,
article h5 {
	font-family: FFMarkWebPro, Futura, 'Trebuchet MS', Arial, sans-serif;
	text-transform: uppercase;
}
article h3 {
	font-size: 2.4rem;
	letter-spacing: 0.3rem;
}
article h4 {
	font-size: 1.8rem;
	letter-spacing: 0.3rem;
}
article h5 {
	margin-bottom: 3.2rem;
	font-size: 1.6rem;
	letter-spacing: 0.3rem;
}

div.wrap_content p,
div.wrap_content cite {
	margin-bottom: 2rem;
	font-size: 1.4rem; // 1.8rem;
	line-height: 1.5;
}
div.wrap_content blockquote p,
div.wrap_content p:last-child {
	margin-bottom: 0;
}
div.wrap_content p a {
	text-decoration: underline;
}
div.wrap_content p a[href^="tel:"] {
	text-decoration: none;
	white-space: nowrap;
}
div.wrap_content cite {
	font-style: normal;
}

// --- Wrap Heading --- \\
div.wrap_heading {
	position: relative;
	margin-bottom: 6rem;
}
div.wrap_heading h3 {
	position: absolute;
	left: 0;
	right: 0;
}
div.wrap_heading h3 span.letter_2 {
	margin-right: 4.8rem;
}
div.wrap_heading img {
	margin: 0 auto;
	width: 8rem;
}

// --- Divider --- \\
div.divider {
	margin: 6rem auto 0 auto;
	width: 2.6rem;
	height: 2.6rem;
}
div.divider svg {
	fill: $hsla_gold;
}

// --- Tag: Circle --- \\
.tag_circle {
	display: inline-block;
	margin-bottom: 5.2rem;
	padding: 1.4rem 2.2rem;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	color: $hsla_gold;
	border: 0.1rem solid $hsla_gold;
}

// Reserve
// ----------------------------------------------------------------------------
section.reserve article div.wrap_content {
	margin-bottom: 3.2rem;
}

// Food & Wine
// ----------------------------------------------------------------------------
// --- Intro --- \\
article.intro div.wrap_heading h3 {
	top: 44%;
	margin-left: 1.4rem;
}
// --- Lunch & Dinner --- \\
ul.menu_toggle {
	margin-bottom: 4rem;
}
ul.menu_toggle li {
	display: inline-block;
	position: relative;
}
ul.menu_toggle li.menu_lunch {
	margin-right: 8rem;
}
ul.menu_toggle li.menu_lunch::after {
	content: "/";
	display: block;
	position: absolute;
	top: 0;
	right: -4.4rem;
	font-family: FFMarkWebPro, Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 1.8rem;
	color: $hsla_gold;
}
ul.menu_toggle li a.toggled {
	color: $hsla_gold;
}
h6.tag_circle.updated {
}
div.menu_list ul {
	margin-bottom: 6rem;
}
div.menu_list ul:last-child {
	margin-bottom: 0;
}
div.menu_list ul li {
	margin-bottom: 1.6rem;
	font-size: 1.4rem; // 1.8rem;
	line-height: 1.2;
}
div.menu_list ul li span {
	display: block;
}
div.menu_list ul li span.menu_item {
	// margin-right: 1rem;
	margin-bottom: 0.6rem;
}

// --- Wine --- \\
article.wine div.wrap_heading h3 {
	top: 58%;
}
article.wine div.wrap_content {
	margin-bottom: 5.2rem;
}


a.tag_circle.wine_full {
	color: $hsla_pink;
	border-color: $hsla_pink;
}
a.tag_circle.wine_full:hover {
	color: $hsla_blue;
	border-color: $hsla_blue;
}
a.tag_circle.wine_full:active {
	color: $hsla_blue-D;
	border-color: $hsla_blue-D;
}




// Bacaro
// ----------------------------------------------------------------------------
section.bacaro {
	background-color: $hsla_blue;
	background-image: url('../img/bg_bacaro.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

article.message {
	padding: 6rem 0;
}
article.message img {
	margin: 0 auto 7.2rem auto;
}
article.message h5 {
	margin-bottom: 6rem;
}
article.message h5,
article.message p {
	color: $hsla_L96;
}



// Private Dining
// ----------------------------------------------------------------------------
section.private {
	padding-top: 16rem;
}


div.sea-monster_top,
div.sea-monster_btm {
	position: relative;
}


img.octo-top {
	position: absolute;
	top: -9.8rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 30rem; // 68.5rem
	// height: 17rem; // 38.8rem
}

// img.octo-top,
img.octo-btm {
	margin: 0 auto;
	width: 12.9rem; // 29.7rem
	// height: 4.9rem; // 11.2rem
}
span.divider_double {
	display: block;
	height: 2.6rem;
	border-top: 0.1rem solid $hsla_gold;
	border-bottom: 0.1rem solid $hsla_gold;
}




article.dining {
	padding-top: 3.2rem;
	// padding-bottom: 6rem;
}

article.dining div.wrap_content {
	padding: 0 1.6rem;
}



article.dining div.wrap_content ul {
	margin-bottom: 3.2rem;
	padding: 3.2rem 1.6rem;
	border: 0.1rem solid $hsla_blue;
}
article.dining div.wrap_content ul li {
	margin-bottom: 1rem;
	font-size: 1.3rem; // 1.4rem;
	line-height: 1.2;
	text-transform: uppercase;
}
article.dining div.wrap_content ul li:last-child {
	margin-bottom: 0;
}


article.dining a.button {
	margin-bottom: 3.2rem;
}
article.dining div.wrap_content p:last-child {
	font-size: 1.3rem; // 1.6rem
}




// Gift Certificates
// ----------------------------------------------------------------------------
section.gift {
	padding: 0 1.6rem;
}
article.certificates,
article.certificates div.wrap_content {
	border: 0.1rem solid $hsla_gold;
}
article.certificates {
	padding: 1.6rem;
}
article.certificates div.wrap_content {
	padding: 3.2rem 1.6rem;
	border: 0.1rem solid $hsla_gold;
}
svg.svg_ui-heart {
	margin: 0 auto 3.2rem auto;
	width: 5.2rem;
	height: 8.8rem;
	fill: $hsla_blue;
}




// Photos
// ----------------------------------------------------------------------------
section.photos {
	padding: 0 1.6rem;
}

section.photos div.wrap_rule {
	// margin-bottom: 6rem;
}
section.photos div.wrap_rule::before {
	top: 48%; // was 49%
	background-color: $hsla_blue;
}

section.photos div.wrap_svg {
	display: inline-block;
	padding: 0 1.4rem;
	background-color: $hsla_L96;
}
svg.svg_ui-eye {
	width: 4.6rem;
	height: 2.8rem;
	fill: $hsla_blue;
}





article.packery div.gutter-sizer {
	width: 1.6rem;
}
article.packery a.gallery_link {
	display: block;
	margin-bottom: 2rem;
	width: calc(50% - 3.2rem);
	opacity: 0.01;
}
article.packery a.gallery_link.loaded {
	opacity: 1;
}
article.packery a.gallery_link:last-child {
	margin-bottom: 0;
}

article.packery a.gallery_link:hover {
	opacity: 0.86;
}
article.packery a.gallery_link:active {
	opacity: 0.96;
}

