// ==|== media queries ========================================================
// WIDTHS: 480px / 568px / 768px / 960px
// ============================================================================

@media only screen and (min-width: 30em) { // 480px / 16px = 30em

// ==|== page styles ==========================================================
// ============================================================================

	// Photos
	// ----------------------------------------------------------------------------
	// --- Packery --- \\
	article.packery a.gallery_link {
		width: calc(33.3333333% - 1.1rem);
	}

}

@media only screen and (min-width: 35.5em) { // 568px / 16px = 35.5em



}

@media only screen and (min-width: 48em) { // 768px / 16px = 48em

// ==|== page styles ==========================================================
// ============================================================================

	// Photos
	// ----------------------------------------------------------------------------
	// --- Packery --- \\
	article.packery div.gutter-sizer {
		width: 3.2rem;
		height: 3.2rem;
	}
	article.packery a.gallery_link {
		width: calc(33.3333333% - 2.2rem);
	}

}

@media only screen and (min-width: 60em) { // 960px / 16px = 60em

// ==|== page styles ==========================================================
// ============================================================================

	// Photos
	// ----------------------------------------------------------------------------
	// --- Packery --- \\
	article.packery div.gutter-sizer {
		width: 10.5rem;
		height: 10.5rem;
	}
	article.packery a.gallery_link {
		width: calc(33.3333333% - 7.2rem);
	}

}

@media only screen and (min-width: 75em) { // 1200px / 16px = 75em



}

@media only screen and (min-width: 90em) { // 1440px / 16px = 90em



}

/*
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { // IE10 & IE11
}
*/