// ==|== media queries ========================================================
// WIDTHS: 480px / 568px / 768px / 960px
// ============================================================================

@media only screen and (min-width: 30em) { // 480px / 16px = 30em

// ==|== page styles ==========================================================
// ============================================================================

	// Photos
	// ----------------------------------------------------------------------------
	// --- Packery --- \\
	article.packery .gallery_link {
		width: calc(33.3333333% - 1.1rem);
	}

}

@media only screen and (min-width: 48em) and (min-height: 37.5em) { // 600px / 16px = 37.5em

// ==|== common sections ======================================================
// ============================================================================

	// Header
	// ----------------------------------------------------------------------------
	header div.wrap_rule {
		margin-bottom: 9rem;
	}
	h2.tagline {
		padding-left: 2.6rem;
		padding-right: 2.6rem;
		font-size: 2.2rem;
		letter-spacing: 0.1rem;
	}

}

@media only screen and (min-width: 48em) { // 768px / 16px = 48em

// ==|== primary styles =======================================================
// ============================================================================

	// Foundation
	// ----------------------------------------------------------------------------
	body {
		border-top: none;
	}

	// General Styles
	// ----------------------------------------------------------------------------
	// --- Gallery Modal --- \\
	aside[data-modal="gallery"] {
		padding-top: 8.6rem;
	}
	// + gallery navigation + \\
	nav.nav_gallery {
		height: 8.6rem;
	}
	nav.nav_gallery div[data-container] a.wrap_svg {
		top: 1.1rem;
	}

// ==|== common sections ======================================================
// ============================================================================

	// Header
	// ----------------------------------------------------------------------------
	header {
		display: table;
		table-layout: fixed;
		margin-bottom: 7.2rem;
		padding: 10rem 3.2rem 3.2rem 3.2rem;
		width: 100%;
		height: 100vh;
	}
	div.wrap_viewport {
		display: table-cell;
		vertical-align: middle;
	}
	div.nn_logo {
		margin-bottom: 7rem;
	}
	div.nn_wordmark {
		margin-bottom: 12rem;
	}
	h3.address {
		letter-spacing: 1rem;
	}
	a.phone {
		margin-bottom: 4.8rem;
	}
	// --- Main Navigation --- \\
	nav.nav_main {
		display: block;
	}

// ==|== page styles ==========================================================
// ============================================================================

	// Sections
	// ----------------------------------------------------------------------------
	section.reserve,
	section.foodwine,
	section.private,
	section.gift,
	article.lunchdinner {
		margin-bottom: 16rem;
	}
	section.reserve,
	section.foodwine,
	section.bacaro,
	section.gift,
	section.photos {
		padding-left: 3.2rem;
		padding-right: 3.2rem;
	}
	// --- Content --- \\
	div.wrap_content p,
	div.wrap_content cite {
		margin-bottom: 4rem;
		font-size: 1.6rem;
		line-height: 1.6;
	}
	// + headings + \\
	article h3 {
		letter-spacing: 0.8rem;
	}
	// --- Wrap Heading --- \\
	div.wrap_heading {
		margin-bottom: 9rem;
	}
	div.wrap_heading img {
		width: auto;
	}
	// --- Divider --- \\
	div.divider {
		margin-top: 16rem;
	}
	// --- Tag: Circle --- \\
	.tag_circle {
		position: absolute;
		margin-bottom: 0;
		width: 14.6rem;
		height: 14.6rem;
		line-height: 14.6rem;
		border-radius: 50%;
	}
	.tag_circle .tag_text {
		padding: 2rem;
	}
	.tag_circle .tag_text br {
		display: inline-block;
	}

	// Reserve
	// ----------------------------------------------------------------------------
	section.reserve article div.wrap_content {
		margin-bottom: 6rem;
	}

	// Food & Wine
	// ----------------------------------------------------------------------------
	article.intro div.wrap_heading h3 {
		top: 46%;
		margin-left: 2.8rem;
	}
	article.intro div.wrap_heading h3 span.letter_2 {
		margin-right: 9rem;
	}
	// --- Lunch & Dinner --- \\
	article.lunchdinner {
		position: relative;
	}
	article.lunchdinner span.tag_circle {
		top: 12rem;
		right: -3.2rem;
	}
	div.wrap_menu div.menu_list h6 {
		margin-bottom: 3.2rem;
		font-size: 1.6rem;
	}
	div.wrap_menu div.menu_list h6.lunch_time {
		margin-bottom: 6rem;
	}
	// + menu toggle + \\
	ul.menu_toggle {
		margin-bottom: 10rem;
	}
	ul.menu_toggle li.menu_lunch {
		margin-right: 12rem;
	}
	ul.menu_toggle li.menu_lunch::after {
		right: -6.6rem;
	}
	// + menu list + \\
	div.menu_list ul li {
		font-size: 1.6rem;
		line-height: 1;
	}
	div.menu_list ul li span {
		display: inline-block;
	}
	div.menu_list ul li span.menu_item {
		margin-right: 2.6rem;
		margin-bottom: 0;
		// truncate styles
		overflow: hidden;
		padding-bottom: 0.2em;
		max-width: 44rem;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	div.menu_list ul li span.menu_price {
		transform: translateY(-0.5rem);
	}
	// --- Wine --- \\
	article.wine {
		position: relative;
	}
	article.wine a.tag_circle {
		top: 24rem;
		left: -3.2rem;
	}
	article.wine div.wrap_heading h3 {
		margin-left: 0.4rem;
	}
	article.wine div.wrap_heading h3 span.letter_2 {
		margin-right: 6rem;
	}

	// Bacaro
	// ----------------------------------------------------------------------------
	section.bacaro {
		padding-top: 12rem;
		padding-bottom: 12rem;
	}

	// Private Dining
	// ----------------------------------------------------------------------------
	section.private {
		padding-top: 32rem;
	}
	img.octo-top,
	img.octo-btm {
		width: auto;
	}
	img.octo-top {
		top: -22.5rem;
	}
	// + dining content + \\
	article.dining {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}
	article.dining h5 {
		margin-bottom: 6rem;
	}
	article.dining div.wrap_content ul {
		margin-top: 4.8rem;
		margin-bottom: 6rem;
	}
	article.dining div.wrap_content ul li {
		font-size: 1.4rem;
	}
	article.dining a.button {
		margin-bottom: 6rem;
	}
	article.dining div.wrap_content p:last-child {
		font-size: 1.3rem;
	}

	// Gift Certificates
	// ----------------------------------------------------------------------------
	article.certificates {
		padding: 3.2rem;
	}
	article.certificates div.wrap_content {
		padding: 6rem;
	}
	article.certificates div.wrap_content h5 {
		margin-bottom: 6rem;
	}
	svg.svg_ui-heart {
		margin-bottom: 4rem;
	}

	// Photos
	// ----------------------------------------------------------------------------
	section.photos div.wrap_rule {
		margin-bottom: 8rem;
	}
	// --- Packery --- \\
	article.packery div.gutter-sizer {
		width: 3.2rem;
		height: 3.2rem;
	}
	article.packery .gallery_link {
		width: calc(33.3333333% - 2.2rem);
	}

}

@media only screen and (min-width: 60em) { // 960px / 16px = 60em

// ==|== common sections ======================================================
// ============================================================================

	// Header
	// ----------------------------------------------------------------------------
	// --- Main Navigation --- \\
	nav.nav_main ul li {
		margin-right: 3.2rem;
	}

	// Footer
	// ----------------------------------------------------------------------------
	footer {
		padding-top: 24rem;
		padding-bottom: 18rem;
	}


// ==|== page styles ==========================================================
// ============================================================================

	// Food & Wine
	// ----------------------------------------------------------------------------
	// --- Lunch & Dinner --- \\
	article.lunchdinner span.tag_circle {
		right: -13.2rem;
	}
	// + menu list + \\
	div.menu_list ul li span.menu_item {
		// truncate styles
		max-width: 54rem;
	}
	// --- Wine --- \\
	article.wine a.tag_circle {
		top: 42rem;
		left: -13.2rem;
	}

	// Photos
	// ----------------------------------------------------------------------------
	// --- Packery --- \\
	article.packery div.gutter-sizer {
		width: 10.5rem;
		height: 10.5rem;
	}
	article.packery .gallery_link {
		width: calc(33.3333333% - 7.2rem);
	}

}

@media only screen and (min-width: 64em) { // 1024px / 16px = 64em

// ==|== common sections ======================================================
// ============================================================================

	// Header
	// ----------------------------------------------------------------------------
	// --- Main Navigation --- \\
	nav.nav_main a.nav_logo {
		display: block;
	}

}

@media only screen and (min-width: 64em) and (max-height: 55em) { // 1024px / 16px = 64em | 880px / 16px = 55em

// ==|== common sections ======================================================
// ============================================================================

	// Header
	// ----------------------------------------------------------------------------
	div.nn_logo {
		display: none;
	}
	// --- Main Navigation --- \\
	nav.nav_main a.nav_logo {
		opacity: 1;
	}

}

@media only screen and (min-width: 75em) { // 1200px / 16px = 75em

// ==|== common sections ======================================================
// ============================================================================

	// Header
	// ----------------------------------------------------------------------------
	header {
		margin-bottom: 13.2rem;
	}

// ==|== page styles ==========================================================
// ============================================================================

	// Sections
	// ----------------------------------------------------------------------------
	section.reserve,
	section.foodwine,
	section.private,
	section.gift,
	article.lunchdinner {
		margin-bottom: 20rem;
	}

	// Food & Wine
	// ----------------------------------------------------------------------------
	// --- Lunch & Dinner --- \\
	article.lunchdinner span.tag_circle {
		right: -20rem;
	}
	// + menu list + \\
	div.menu_list ul li span.menu_item {
		// truncate styles
		max-width: 58rem;
	}
	// --- Wine --- \\
	article.wine a.tag_circle {
		left: -20rem;
	}

	// Bacaro
	// ----------------------------------------------------------------------------
	section.bacaro {
		padding-top: 20rem;
		padding-bottom: 20rem;
	}

	// Private Dining
	// ----------------------------------------------------------------------------
	section.private {
		padding-top: 42rem;
	}

}

/*
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { // IE10 & IE11
}
*/