// SASS Variables
// ----------------------------------------------------------------------------
$hsl_blue:    hsl(213,63%,22%);
$hsl_gold:    hsl(41,44%,61%);
$hsl_pink:    hsl(4,100%,75%);
$hsl_white:   hsl(0,0%,100%);
$hsl_L96:     hsl(0,0%,96%);

$hsla_L96-98: hsla(0,0%,96%,0.98);

$boxshadow_drop: 0 0.1rem 0.2rem hsla(0,0%,0%,0.3);

// One stylesheet to rule them all
// ----------------------------------------------------------------------------
@import 'base';
@import 'main';
@import 'queries';