// SASS Variables
// ----------------------------------------------------------------------------

$hsla_blue: hsla(213,63%,22%,1);

$hsla_gold: hsla(41,44%,61%,1);

$hsla_L96: hsla(0,0%,96%,1);


// One stylesheet to rule them all
// ----------------------------------------------------------------------------
@import 'base';
@import 'main';
@import 'queries';