#opentable{"data-opentable" => "inactive"}

	%form#form_reserve.form_reserve{:action => "http://www.opentable.com/restaurant-search.aspx", :method => "POST", :name => "form_reserve", :target => "_blank"}

		.wrap_inputs.clearfix

			#wrap_select-size.wrap_select-size.wrap_select{"data-selected" => ""}

				%select#PartySize.visuallyhidden{:name => "PartySize", :required => true, :tabindex => "-1"}
					%option{:disabled => true, :selected => true, :value => true} Size
					%option{:value => "1"} 1
					%option{:value => "2"} 2
					%option{:value => "3"} 3
					%option{:value => "4"} 4
					%option{:value => "5"} 5
					%option{:value => "6"} 6
					%option{:value => "7"} 7
					%option{:value => "8"} 8

				.dropdown_toggle
					%span.dropdown_placeholder Size
					.wrap_svg.input_svg
						%svg.ui_arrow{:viewBox => "0 0 64 64"}
							%use{"xlink:href" => "#ui_arrow-thick"}

				-# if UL > LI.length >= 6: add class "scrollable"
				.wrap_dropdown.scrollable

					-# if UL > LI.length >= 6: output <span>
					%span.fix_ios-scroll

						%ul.dropdown_list
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "1"} 1
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "2"} 2
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "3"} 3
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "4"} 4
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "5"} 5
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "6"} 6
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "7"} 7
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "8"} 8


			#wrap_select-time.wrap_select-time.wrap_select{"data-selected" => ""}

				%select#ResTime.visuallyhidden{:name => "ResTime", :required => true, :tabindex => "-1"}
					%option{:disabled => true, :selected => true, :value => true} Time
					%option{:value => "11:00 AM"} 11:00 AM
					%option{:value => "11:30 AM"} 11:30 AM
					%option{:value => "12:00 AM"} 12:00 AM
					%option{:value => "12:30 AM"} 12:30 AM
					%option{:value => "1:00 PM"} 1:00 PM
					%option{:value => "1:30 PM"} 1:30 PM
					%option{:value => "2:00 PM"} 2:00 PM
					%option{:value => "5:00 PM"} 5:00 PM
					%option{:value => "5:30 PM"} 5:30 PM
					%option{:value => "6:00 PM"} 6:00 PM
					%option{:value => "6:30 PM"} 6:30 PM
					%option{:value => "7:00 PM"} 7:00 PM
					%option{:value => "7:30 PM"} 7:30 PM
					%option{:value => "8:00 PM"} 8:00 PM
					%option{:value => "8:30 PM"} 8:30 PM
					%option{:value => "9:00 PM"} 9:00 PM
					%option{:value => "9:30 PM"} 9:30 PM
					%option{:value => "10:00 PM"} 10:00 PM

				.dropdown_toggle
					%span.dropdown_placeholder Time
					.wrap_svg.input_svg
						%svg.ui_arrow{:viewBox => "0 0 64 64"}
							%use{"xlink:href" => "#ui_arrow-thick"}

				-# if UL > LI.length >= 6: add class "scrollable"
				.wrap_dropdown.scrollable

					-# if UL > LI.length >= 6: output <span>
					%span.fix_ios-scroll

						%ul.dropdown_list
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "11:00 AM"} 11:00 AM
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "11:30 AM"} 11:30 AM
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "12:00 AM"} 12:00 AM
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "12:30 AM"} 12:30 AM
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "1:00 PM"} 1:00 PM
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "1:30 PM"} 1:30 PM
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "2:00 PM"} 2:00 PM
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "5:00 PM"} 5:00 PM
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "5:30 PM"} 5:30 PM
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "6:00 PM"} 6:00 PM
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "6:30 PM"} 6:30 PM
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "7:00 PM"} 7:00 PM
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "7:30 PM"} 7:30 PM
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "8:00 PM"} 8:00 PM
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "8:30 PM"} 8:30 PM
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "9:00 PM"} 9:00 PM
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "9:30 PM"} 9:30 PM
							%li.dropdown_option
								%a.dropdown_link{:href => "#", "data-value" => "10:00 PM"} 10:00 PM


		#wrap_input-date.wrap_date
			%input#startDate{:name => "startDate", :type => "text", :value => "", :placeholder => "Date", :tabindex => "-1"}
			.wrap_svg.input_svg
				%svg.ui_arrow{:viewBox => "0 0 64 64"}
					%use{"xlink:href" => "#ui_arrow-thick"}


		%button#submit.button{:type => "submit", :name => "submit"} Find A Table

		%input#RestaurantReferralID{:type => "hidden", :name => "RestaurantReferralID", :value => "162793"}
		%input#RestaurantID{:type => "hidden", :name => "RestaurantID", :value => "162793"}
		%input{:type => "hidden", :name => "txtDateFormat", :value => "MM/dd/yyyy"}