%footer

	%ul.footer_contact
		%li.contact_title North &amp; Navy
		%li.contact_email
			%a#email_footer{:href => "#", :title => "Email North and Navy"} email us
		%li.contact_phone
			%a{:href => "tel:+1-613-232-6289", :title => "Call us"} 613.232.6289

	%ul.footer_pride
		%li.pride_can Can
		%li.pride_cross
			%svg.svg_ui-close
				%use{"xlink:href" => "#ui_close"}
		%li.pride_ita Ita

	%p.copyright &copy; 2015

-# = Haml::Engine.new(File.read("dev/haml/partials/_modal_gallery.haml")).render
= Haml::Engine.new(File.read("dev/haml/partials/_doc_scripts.haml")).render