%aside#gallery{"data-modal" => "gallery", "data-current" => ""}

	%nav#nav_gallery.nav_gallery

		%a#nav_prev.nav_prev.wrap_svg{:href => "#", :title => "Previous Image"}
			%svg.svg_ui-arrow
				%use{"xlink:href" => "#ui_arrow"}

		%a#nav_next.nav_next.wrap_svg{:href => "#", :title => "Next Image"}
			%svg.svg_ui-arrow
				%use{"xlink:href" => "#ui_arrow"}

		%a#nav_close.nav_close.wrap_svg{:href => "#", :title => "Close Image"}
			%svg.svg_ui-close
				%use{"xlink:href" => "#ui_close"}

	%img#gallery_image{:src => "assets/img/full-nn_8.jpg", :alt => ""}

	#loader.loader
		.wrap_loader
			.loader_circle.circle-1
			.loader_circle.circle-2
			.loader_circle.circle-3