%section#foodwine.foodwine

	%article.intro{"data-container" => "width_660"}

		.wrap_heading

			%h3
				%span.letter_1
					F
				%span.letter_2
					o
				%span.letter_3
					o
				%span.letter_4
					d

			%img{:src => "assets/img/ill_fish.png", :alt => ""}

		.wrap_content
			%p Our menu is inspired by tradition and dictated by the quality and availability of ingredients. We play off the similarities between the climates of Eastern Ontario and Northeast Italy, and create our take on classic dishes made with seasonal game, seafood and vegetables. Plus, sometimes we’ll just add whatever we want.

	%article.lunchdinner{"data-container" => "width_660"}

		-# Detect what time it is and toggle Dinner if after a certain time?

		%ul.menu_toggle
			%li.menu_lunch
				%a#toggle_lunch.toggled{:href => "#", :title => "See our Lunch menu"}
					%h4 Lunch
			%li.menu_dinner
				%a#toggle_dinner{:href => "#", :title => "See our Dinner menu"}
					%h4 Dinner

		-# %h4.temp_title Dinner

		%span.tag_circle.updated
			%p.tag_text Updated Feb 12

		-# toggle defaut menu based on time of day
		#wrap_menu.wrap_menu{'data-menu' => 'lunch'}

			#menu_lunch.menu_lunch.menu_list.toggled

				%h6.lunch_time Lunch served 11am&ndash;2pm

				%h5 Main
				%ul
					%li
						%span.menu_item White Bean and Guanciale
						%span.menu_price 7
					%li
						%span.menu_item Peperonata with Poached Egg
						%span.menu_price 8
					%li
						%span.menu_item Endive Caesar Salad
						%span.menu_price 9
					%li
						%span.menu_item Citrus Salad
						%span.menu_price 10
					%li
						%span.menu_item Bigoli in salsa
						%span.menu_price 8
					%li
						%span.menu_item Corzetti with Walnuts and Pancetta
						%span.menu_price 9
					%li
						%span.menu_item Mackerel in sa&oacute;r
						%span.menu_price 22
					%li
						%span.menu_item Warm Octopus and Potato Salad
						%span.menu_price 22
					%li
						%span.menu_item Mortadella bianca
						%span.menu_price 12
					%li
						%span.menu_item Venetian Liver and Onions
						%span.menu_price 18

				%h5 Sweet
				%ul
					%li
						%span.menu_item Baicoli and Coffee
						%span.menu_price 6
					%li
						%span.menu_item Tiramisu
						%span.menu_price 8
					%li
						%span.menu_item Giuseppe Luigi
						%span.menu_price 9

				%h5 To Drink
				%h6 Ombra of wine
				%ul
					%li
						%span.menu_item Alois Lageder, Pinot Grigio 2013
						%span.menu_price 4
					%li
						%span.menu_item Negrar, Valpolicella Ripasso 2012
						%span.menu_price 4
					%li
						%span.menu_item Hinterland Whitecap 2013
						%span.menu_price 4

				%h6 Beer
				%ul
					%li
						%span.menu_item Mini Beau&rsquo;s
						%span.menu_price 3
					%li
						%span.menu_item Peroni
						%span.menu_price 3

			#menu_dinner.menu_dinner.menu_list

				%h5 Cich&egrave;ti
				%ul
					%li
						%span.menu_item Baccala Cappucina
						%span.menu_price 3
					%li
						%span.menu_item Anchovy and White Bean
						%span.menu_price 3
					%li
						%span.menu_item Sard&egrave;le in sa&oacute;r
						%span.menu_price 3
					%li
						%span.menu_item Smoked Ricotta and Fennel
						%span.menu_price 4
					%li
						%span.menu_item Bresola Lettuce Wraps
						%span.menu_price 4
					%li
						%span.menu_item Pork and Beef Polpette
						%span.menu_price 4
					%li
						%span.menu_item Cich&egrave;ti Plate (one of each)
						%span.menu_price 18

				%h5 Primi
				%ul
					%li
						%span.menu_item Rise e bisi
						%span.menu_price 8
					%li
						%span.menu_item Potato and Ricotta Tortelletti in Parmesan Potato Skin Brodo
						%span.menu_price 10
					%li
						%span.menu_item Bigoli in salsa
						%span.menu_price 9
					%li
						%span.menu_item Corzetti with Walnuts and Pancetta
						%span.menu_price 9

				%h5 Antipasti
				%ul
					%li
						%span.menu_item Citrus Salad
						%span.menu_price 12
					%li
						%span.menu_item Raw Mushroom Carpaccio
						%span.menu_price 9
					%li
						%span.menu_item Endive Caesar Salad
						%span.menu_price 10
					%li
						%span.menu_item Fried Smelts
						%span.menu_price 12
					%li
						%span.menu_item Pork and Beef Polpette (3)
						%span.menu_price 12

				%h5 Secondi
				%ul
					%li
						%span.menu_item Warm Octopus and Potatoes
						%span.menu_price 28
					%li
						%span.menu_item Mackerel in sa&oacute;r
						%span.menu_price 24
					%li
						%span.menu_item Turkey and Polenta
						%span.menu_price 23
					%li
						%span.menu_item Venetian Liver and Onions
						%span.menu_price 22
					%li
						%span.menu_item Flatiron with Fried Salami and Sunny Side Egg
						%span.menu_price 24
					%li
						%span.menu_item Bistecca Fiorintina (46oz, serves two)
						%span.menu_price 130

				%h5 Dolce
				%ul
					%li
						%span.menu_item Baicoli and Coffee
						%span.menu_price 6
					%li
						%span.menu_item Tiramisu
						%span.menu_price 8
					%li
						%span.menu_item Giuseppe Luigi
						%span.menu_price 9

		.wrap_svg.divider
			%svg.ui_close{:viewBox => "0 0 64 64"}
				%use{"xlink:href" => "#ui_close"}

	%article.wine{"data-container" => "width_660"}

		.wrap_heading

			%h3
				%span.letter_1
					W
				%span.letter_2
					i
				%span.letter_3
					n
				%span.letter_4
					e

			%img{:src => "assets/img/ill_bottle.png", :alt => ""}

		-# .wrap_content
			-# %blockquote
				-# %p In vino veritas.
				-# %cite –Piny the Elder

		%a.tag_circle.wine_full{:href => "assets/files/wine_list_web.pdf", :title => "View Full Wine List", :target => "_blank"}
			:plain
				<p class="tag_text">See<br> Full Wine List</p>

		-# %p.wines We carry too many wines to list them all here, but here are a few of our favourites.

		#menu_wine.menu_list

			%h5 Sparkling
			%ul
				%li
					%span.menu_item Majolini, Franciacorta, Italy
					%span.menu_price 8/90
				%li
					%span.menu_item Hinterland Whitecap, PEC, Canada, 2013
					%span.menu_price 10/50
				%li
					%span.menu_item Lanson Black Label, Champagne, France
					%span.menu_price 135

			%h5 White
			%ul
				%li
					%span.menu_item Arnaldo Caprai, Grechetto, Umbria, Italy 2013
					%span.menu_price 7/34
				%li
					%span.menu_item Calumus, Riesling, Niagara, Canada 2013
					%span.menu_price 8/40
				%li
					%span.menu_item Alois Lageder, Pinot Grigio, Alto Adige Italy 2013
					%span.menu_price 9/45
				%li
					%span.menu_item Davis Bynum, Riverwest Chardonnay, California, USA
					%span.menu_price 13/75

			%h5 Red
			%ul
				%li
					%span.menu_item Negrar, Valpolicella Ripasso, Italy 2012
					%span.menu_price 8/40
				%li
					%span.menu_item Mission Hill, Reserve Merlot, Okanagan, Canada
					%span.menu_price 11/55
				%li
					%span.menu_item Pio Cesare, Barbera D'Alba, Piedmont, Italy
					%span.menu_price 12/58
				%li
					%span.menu_item Travaglini, Nebiolo, Gatinara, Italy
					%span.menu_price 14/80

		.wrap_svg.divider
			%svg.ui_close{:viewBox => "0 0 64 64"}
				%use{"xlink:href" => "#ui_close"}