%section#photos.photos

	.wrap_rule{"data-container" => "width_1200"}
		.wrap_svg
			%svg.svg_ui-eye
				%use{"xlink:href" => "#ui_eye"}

	%article#packery.packery{"data-container" => "width_1200"}

		.gutter-sizer

		%a.gallery_link{:href => "#", :title => ""}
			%img{:src => "assets/img/gallery_pasta.jpg", :alt => ""}

		%a.gallery_link{:href => "#", :title => ""}
			%img{:src => "assets/img/gallery_plate.jpg", :alt => ""}

		%a.gallery_link{:href => "#", :title => ""}
			%img{:src => "assets/img/gallery_whisky.jpg", :alt => ""}

		%a.gallery_link{:href => "#", :title => ""}
			%img{:src => "assets/img/gallery_coffee.png", :alt => ""}

		%a.gallery_link{:href => "#", :title => ""}
			%img{:src => "assets/img/gallery_bacon.jpg", :alt => ""}

		%a.gallery_link{:href => "#", :title => ""}
			%img{:src => "assets/img/gallery_spoon.png", :alt => ""}

		%a.gallery_link{:href => "#", :title => ""}
			%img{:src => "assets/img/gallery_eggs.jpg", :alt => ""}

		%a.gallery_link{:href => "#", :title => ""}
			%img{:src => "assets/img/gallery_nepean.jpg", :alt => ""}