%section#private.private

	.sea-monster_top
		%img.octo-top{:src => "assets/img/ill_octo-top.png", :alt => ""}
		%span.divider_double

	%article.dining{"data-container" => "width_720"}

		.wrap_content
			%h5 Private Dining
			%p Our private dining room is ideal for meetings, presentation or parties. The room can accommodate up to 25 guests for dinner, or up to 45 for cocktails and cich&egrave;ti. No matter what the occasion, we promise to deliver and unforgettable experience for you and your guests.
			%p The space is equipped with modern audio visual equipment and complimentary WiFi, and features a dedicated server for your event.
			%ul.list_rates
				%li Lunch $36 per guest
				%li Cocktail $45 per guest
				%li Family-style Dinner: $55 per guest
				%li Table d’hote from that evening’s menu: $69 per guest

			%a.button{:href => "assets/files/private_dining.pdf", :title => "Sample Menu", :target => "_blank"} Sample Menu

			:plain
				<p>For more details, give us a call at <a href="tel:+1-613-232-6289" title="Call us">(613) 232-6289</a> and we’d be happy to help create your ideal event.</p>

	.sea-monster_btm
		%span.divider_double
		%img.octo-btm{:src => "assets/img/ill_octo-btm.png", :alt => ""}