%section#photos.photos

	.wrap_rule{"data-container" => "width_1200"}
		.wrap_svg
			%svg.svg_ui-eye
				%use{"xlink:href" => "#ui_eye"}

	%article#packery.packery{"data-container" => "width_1200"}

		.gutter-sizer

		- (1..17).each do |i|
			%a.gallery_link{:href => "assets/img/full-nn_#{i}.jpg", :title => "View Photo"}
				%img{:src => "assets/img/nn_#{i}.jpg", :alt => ""}