%section#photos.photos

	.wrap_rule{"data-container" => "width_1200"}
		.wrap_svg
			%svg.ui_eye{:viewBox => "0 0 64 39"}
				%use{"xlink:href" => "#ui_eye"}

	%article#packery.packery{"data-container" => "width_1200"}

		.gutter-sizer

		- (1..17).each do |i|
			- zeroBase = i - 1
			%a.gallery_link{:href => "assets/img/full-nn_#{i}.jpg", :title => "View Photo", "data-gallery" => "#{zeroBase}"}
				%img{:src => "assets/img/nn_#{i}.jpg", :alt => ""}
			-# %.gallery_link
				-# %img{:src => "assets/img/nn_#{i}.jpg", :alt => ""}