%section#gift.gift

	%article.certificates{"data-container" => "width_848"}

		.wrap_content

			%svg.svg_ui-heart
				%use{"xlink:href" => "#ui_heart"}

			%h5 Gift Certificates
			%p North and Navy gift certificates can be used to pay all or part of a bill, and never expire. Sending a gift certificate is simple; just fill out our Gift Certificate form and it will arrive in the recipient’s inbox right away. If you prefer the physical kind, stop in anytime and we’d be happy to prepare one for you.

			%a.button{:href => "#", :title => "Give a Gift"} Give a Gift